<ul class="PlayerList">
  {{#each game.players as |player| }}
    <li>
      {{player.name}} {{if player.isGameCreator "(creator)"}}
     </li>
  {{/each}}
</ul>

<ul class="CardList">
  {{#each game.cards as |card| }}
    <li>
      <div>{{card.event}} </div>
      <div>{{card.year}} </div>
    </li>
  {{/each}}
</ul>
