<div class="ImageTimeline-top">&nbsp;</div>
<div class="ImageTimeline-line">&nbsp;</div>
<div class="ImageTimeline-bottom">&nbsp;</div>
{{#each imagesSrc as |src| }}
  <div class="EventImage-container">
    <img class="EventImage" src="{{src}}" />
  </div>
{{/each}}

