#Game-top {
  width: 100%;
  background: lightgray;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

#Game-players {
  display: flex;
}

.Game-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 4rem;
  width: 6rem;
}

.Game-playerName {
  font-weight: bold;
}

#Game-board {
  margin-top: 11rem;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#Timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 4rem;
}

.Timeline-card {
  margin: 1rem;
  width: 14rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background: white;
  padding: 6px;
}

.Timeline-card-event {
  text-align: center;
}

.Timeline-placeCardButton {
  text-align: center;
  border: 1px solid black;
  width: 4rem;
  display: inline-block;
  cursor: pointer;
}