#Game-top {
  width: 100%;
  padding: 10px 0;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  z-index: 100;
}

#Game-players {
  display: flex;
  justify-content: center;
  align-items: center;
}
#Game-winner {
  background: yellow;
  font-size: 24px;
  font-weight: bold;
  height: 28px;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin: 4px 0;
}

.Game-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid black;
  height: 4rem;
  width: 10rem;
  &.is-current-player {
    background: yellow;
  }
}


.Game-playerName {
  font-weight: bold;
}

#Game-board {
  margin-top: 14rem;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

#Timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 4rem;
}

.Timeline-card {
  margin: 1rem;
  width: 14rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background: white;
  padding: 6px;
  &.game-ended {
    background: lightgray;
  }
}

.Timeline-card-event {
  text-align: center;
}

.Timeline-placeCardButton {
  text-align: center;
  border: 1px solid black;
  width: 4rem;
  display: inline-block;
  cursor: pointer;
}

#CurrentCardSidebar {
  width: 14em;
}

#CurrentCardPanel {
  position: fixed;
}
