@import "variables";

#Game-top {
  width: 100%;
  padding: 10px 0;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  z-index: 100;
}
.Waiting-content {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}


.Game-status {
  @include WhiteCircle(600px);
  font-size: 22px;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //background: white;
  //padding: 10px;
  //border: 3px black solid;
  //height: 300px;
  //width: 300px;
  //border-radius: 50%;
}

.Game-players {
  margin: 20px 0 40px 0;
}

#Game-winner {
  background: yellow;
  font-size: 24px;
  font-weight: bold;
  height: 28px;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin: 4px 0;
}

.GameBoard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 3rem;
  padding-top: 5rem;
}

.GameBoard-header {
  position: absolute;
  top: 1rem;
}

.GameBoard-title {
  font-family: "Comic Sans MS";
  font-size: 3rem;
  margin-bottom: 2rem;
}

.GameBoard-leaveGame {
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 4px;
  padding: 2px 4px;
}

.GameBoard-players {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.GameBoard-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid black;
  height: 4rem;
  width: 12rem;
  &:first-of-type {
    border-right: none;
  }
  &.isCurrentPlayer {
    background: yellow;
  }
}

.GameBoard-player.is-me {
  .GameBoard-playerName {
    color: red;
  }
}

.GameBoard-playerName {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 4px;
}

.GameBoard-winner {
  background: white;
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
}

.GameBoard-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.GameBoard-status {
  min-height: 30rem;
  width: 17rem;
  background: white;
  border: 3px gray solid;
  border-radius: 18px;
  margin-right: 50px;
  padding: 6px;
}

.GameBoard-currentCardContainer {

}

.GameBoard-cards {
  height: 840px;
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}


.GameBoard-cardList {
  overflow-y: scroll;
  padding: 0;
  position: relative;
}

.listLine {
  content:"";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 128.5px;
  margin: 20px 0;
  border-left: 2px dotted black;
}

@mixin card {
  margin: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background: white;
  position: relative;
  z-index: 2;
}

.GameBoard-card {
  @include card;
  width: 14rem;
  min-height: 6rem;
  &.game-ended {
    background: lightgray;
  }
  z-index: 2;
}
.GameBoard-card-event {
  padding: 0 8px;
  text-align: center;
}

.GameBoard-currentCard {
  @include card;
  font-weight: bold;
  font-size: 1.2rem;
  width: 22rem;
  height: 12rem;
  background: yellow;
  &.game-ended {
    background: lightgray;
  }
}

.GameBoard-currentPlayer {
 background: yellow;
}

.GameBoard-currenctCard-event {
  padding: 0 10px;
  text-align: center;
}

$placeCardButtonColor: black;

.GameBoard-placeCardButton {
  border-radius: 50%;
  min-height: 2rem;
  min-width: 2rem;
  max-width: 2rem;
  margin: 0 auto;
  background: $placeCardButtonColor;
  font-size: 1px;
  position: relative;
  z-index: 2;
  &:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 8rem;
    border-radius: 4px;
    background: black;
    color: white;
    font-size: 17px;
    cursor: pointer;
  }
}

.GameBoard-status-lastPlayer {
  font-size: 1.4rem;
  font-weight: bold;
}

.GameBoard-status {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 600px;
}

.GameBoard-status-placedBeforeCard,
.GameBoard-status-placedAfterCard {
  @include card;
  height: 6rem;
  width: 12rem;
  font-size: .9rem;
  background: lightgray;
  padding: 0 1rem;
}

.GameBoard-status-placedCard {
  @include card;
  height: 8rem;
  width: 14rem;
  padding: 0 1rem;
  background: lightcoral;
  &.correct {
    background: lightgreen;
  }
}

.GameBoard-lastPlacedTitle {
  font-weight: bold;
  font-size: 1.2rem;
  margin-botton: 1rem;
}

.Status-correct-icon {
  font-size: 6rem;
  color: lightgreen;
}

.Status-incorrect-icon {
  font-size: 6rem;
  color: lightcoral;
}

.GameBoard-statusMsg {
  font-size: 1.3rem;
}

.GameBoard-winner {
  @include card;
  font-size: 1.2rem;
  width: 22rem;
  height: 12rem;
  border-radius: 16px;
  border: black 3px solid;
}

.GameBoard-winner-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

