<h3>Enter Players</h3>
<ul class="names-list">
  {{#each names  as |name i| }}
    <li>Player {{i}}: {{input class='playerName' value=name.name}}</li>
  {{/each}}
</ul>
<button class="NewGame" {{action 'newGame'}} >New Game</button>


