<h3>Create Game</h3>
{{input class="gameCode" value=newGameCode}}
<button class="NewGame" {{action 'newGame'}} >New Game</button>


<h3>Join Game</h3>

{{input class="gameCode" value=gameCode}}
<button class="joinGame" {{action 'joinGame'}} >Join Game</button>
